/__pycache__
*/__pycache__
/.vscode
supervisord.pid
supervisord.log
/logs
.env
cron.log
note.txt
*.save
session_listener/PriceWatcherBot.session
PriceWatcherBot.session
PriceWatcherBot.session-journal